.centerDiv
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.buttons
{
    display: flex;
    gap: 20px;
    margin-top: 5%;
}

*
{
    font-size: x-large;
    text-align: center;
}

.score, .results, .selections
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}